* {
    margin: 0;
    padding: 0
}

h1 {
    color: white;
    background-color: #353866;
    grid-column: 1 / 3;
    height: 100%;
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 6fr;
    background-color: #2EC4B6;
}

#place {
    grid-column: 1;
    grid-row: 1;
}

#date {
    grid-column: 1;
    grid-row: 2;
}

#button_container {
    grid-column: 1;
    grid-row: 3;
}

#input_container {
    grid-column: 1;
    grid-row: 4;
}

#graphical {
    grid-column: 1;
    grid-row: 5;
}

#results {
    grid-column: 2;
    text-align: center;
    grid-row: 1/6;
}

table,
th,
td {
    border: 1px solid;
}

button {
    cursor: pointer;
}