body{
   background-color: lightgrey; 
   display: flex;
   justify-content: center;
}

.container{    
    background-color: white;
    margin: 50px;
    padding: 50px;
}

label{
    display: block;
}

a{
    display:block;
}

input:focus {
    outline: none;
    border-color: darkgreen;
}