<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cocktails</title>
    <link rel="stylesheet" href="/assets/style.css"/>  
  </head>
  <body>
    <h1>Thanks <%= name %> , we will send updates to <%= email %></h1>
  </body>
</html>